body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
header {
  height: 100vh;
  background-image: url("/assets/fondo_home.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 100px;
}
header nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}
header nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}
header nav .logo {
  width: 25%;
  font-size: 36px;
  font-weight: bold;
  min-width: 360px;
}
header nav .menu {
  width: 65%;
}
header nav .menu ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav .menu ul a {
  margin: 0px 10px;
  padding: 5px 10px;
  font-size: 27px;
}
header nav .leng {
  width: 15%;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.centro-head {
  display: flex;
  flex-flow: row;
  height: 60%;
  margin-top: 30px;
}
.centro-head .header-text {
  width: 65%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 50px;
}
.centro-head .header-anuncio {
  width: 30%;
}
.centro-head .header-anuncio .tarjeta-anuncio {
  display: flex;
  flex-flow: row;
  height: 100%;
}
.centro-head .header-anuncio .tarjeta-anuncio .titulo-tarjeta {
  background: #1a4958;
  color: #fff;
  padding-left: 50px;
  width: 275px;
  min-width: 275px;
  position: relative;
}
.centro-head .header-anuncio .tarjeta-anuncio .titulo-tarjeta h2:nth-child(1) {
  position: absolute;
  top: 20px;
}
.centro-head .header-anuncio .tarjeta-anuncio .titulo-tarjeta h2:nth-child(3) {
  position: absolute;
  bottom: 45px;
}
.centro-head .header-anuncio .tarjeta-anuncio .titulo-tarjeta h2:nth-child(4) {
  position: absolute;
  bottom: 20px;
  color: #c7c7c7;
}
.centro-head .header-anuncio .tarjeta-anuncio .titulo-tarjeta img {
  position: absolute;
  bottom: 100px;
}
.centro-head .header-anuncio .tarjeta-anuncio .imagen-tarjeta {
  width: 700px;
  min-width: 700px;
}
.centro-head .header-anuncio .tarjeta-anuncio .imagen-tarjeta img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.flecha-head {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.flecha-head .text-flecha {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}
.flecha-head .text-flecha h3 {
  margin: 0px;
  font-size: 19px;
  font-weight: 300;
}
.flecha-head .text-flecha h2 {
  margin: 0px;
  font-size: 35px;
  font-weight: 300;
}
.flecha-head img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}
.cont-ciudades {
  padding: 0px 100px;
  margin: 60px 0px;
  display: flex;
  flex-flow: column;
}
.cont-ciudades .ciudad-titulo {
  background-color: #1a4958;
  width: 25%;
  display: flex;
  flex-flow: row;
  position: relative;
  height: 60px;
  align-items: center;
}
.cont-ciudades .ciudad-titulo h2 {
  position: absolute;
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  left: 20px;
}
.cont-ciudades .ciudad-titulo img {
  position: absolute;
  width: 30px;
  margin: 0;
  right: 20px;
}
.cont-ciudades .ciudad-tarjeta {
  width: 100%;
  display: flex;
  flex-flow: row;
}
.cont-ciudades .ciudad-tarjeta .ciudad-contenedor {
  width: 25%;
  height: 450px;
  background-size: cover;
  background-position: center;
}
.cont-ciudades .ciudad-tarjeta .ciudad-contenedor:nth-child(1) {
  background-image: url(/assets/italia_fondo.jpg);
}
.cont-ciudades .ciudad-tarjeta .ciudad-contenedor:nth-child(2) {
  background-image: url(/assets/grecia_fondo.jpg);
}
.cont-ciudades .ciudad-tarjeta .ciudad-contenedor:nth-child(3) {
  background-image: url(/assets/croacia_fondo.jpg);
}
.cont-ciudades .ciudad-tarjeta .ciudad-contenedor:nth-child(4) {
  background-image: url(/assets/newyork_fondo.jpg);
}
.cont-ciudades .ciudad-tarjeta h2 {
  color: #fff;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
  text-shadow: 0 0 6px #00004a;
}
.cont-ciudades .ciudad-tarjeta h3 {
  color: #fff;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  padding-left: 30px;
  text-shadow: 0 0 6px #00004a;
}
.cont-ciudad {
  margin: 180px 0px;
  position: relative;
}
.cont-ciudad .ciudad-info {
  padding: 0px 100px;
  display: flex;
  flex-flow: row;
  z-index: 1;
}
.cont-ciudad .ciudad-info .imagen-ciudad {
  width: 40%;
}
.cont-ciudad .ciudad-info .imagen-ciudad img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-ciudad .ciudad-info .texto-ciudad {
  width: 40%;
  padding: 0px 100px;
  background-color: #fff;
}
.cont-ciudad .ciudad-info .texto-ciudad h3 {
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
}
.cont-ciudad .ciudad-info .texto-ciudad h1 {
  margin: 25px 0px;
  font-weight: 600;
  font-size: 40px;
}
.cont-ciudad .ciudad-info .texto-ciudad .opciones-ciudad {
  display: flex;
  flex-flow: row;
}
.cont-ciudad .ciudad-info .texto-ciudad .opciones-ciudad img {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  margin-right: 18px;
}
.cont-ciudad .ciudad-info .texto-ciudad .opciones-ciudad a {
  text-decoration: none;
  color: #000;
}
.cont-ciudad .ciudad-info .texto-ciudad .opciones-ciudad h2 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
}
.cont-ciudad .ciudad-info .texto-ciudad p {
  margin-bottom: 50px;
  font-size: 19px;
}
.cont-ciudad .ciudad-info .texto-ciudad .btn-ciudad {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 17px 70px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 210px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.cont-ciudad .ciudad-bg {
  background-image: url(/assets/croacia_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0px;
  z-index: -10;
  opacity: 0.38;
}
.cont-servicios {
  display: flex;
  flex-flow: column;
  padding: 0px 100px;
  margin-bottom: 100px;
}
.cont-servicios .serv-titulo {
  margin-bottom: 120px;
  width: 100%;
}
.cont-servicios .serv-titulo h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  display: block;
  margin: 0 auto;
  width: 400px;
  position: relative;
}
.cont-servicios .serv-titulo h1:after {
  content: "";
  width: 120px;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: -9px;
  right: 50px;
}
.cont-servicios .serv-lista {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.cont-servicios .serv-lista .serv-cont {
  width: 33%;
  position: relative;
}
.cont-servicios .serv-lista .serv-cont img {
  width: 85px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.cont-servicios .serv-lista .serv-cont h2 {
  padding-left: 100px;
  padding-right: 30px;
  margin-top: 0px;
}
.cont-servicios .serv-lista .serv-cont p {
  padding-left: 100px;
  margin-bottom: 100px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 400;
}
